*{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #fff0f5;
}
#topo{  /*não precisava desse div na frente mas é bom para especificar, vai formatar o topo que está dentro do div*/
    width: 100%;
    height: auto;
}
p{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#conta{
    border: 1px solid white;
    background-color: #fffafa;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px;
    text-align: center;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #ffe4e1; 
    height: 50px;
    align-items: center;
}
form div{
    padding: 4px;
    align-content: center;
}
#calculadora{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
button{
    background-color: azure;
    margin-left: 110px;
    margin-top: 3px;
}


